
# Midtrans keys (Sandbox/Production)
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Formspree (optional)
FORMSPREE_ENDPOINT=https://formspree.io/f/xxxxxx
